<h2>王者英雄</h2>
<div>
  <label>英雄编号</label> <input #heroId />
  <br>
  <label>英雄名称</label> <input #heroName />
  <button (click)="add(heroName.value,heroId.value); heroName.value='';heroId.value=''">
    添加
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes "
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} 超级英雄
  </h2>
  <button (click)="gotoDetail()">英雄详情</button>
</div>
